[submodule "lab01"]
	path = lab01
	url = git@github.com:Chamber6821/osisp-lab01.git
[submodule "lab02"]
	path = lab02
	url = git@github.com:Chamber6821/osisp-lab02.git
[submodule "lab03"]
	path = lab03
	url = git@github.com:Chamber6821/osisp-lab03.git
[submodule "lab04"]
	path = lab04
	url = git@github.com:Chamber6821/osisp-lab04.git
[submodule "lab05"]
	path = lab05
	url = git@github.com:Chamber6821/osisp-lab05.git
[submodule "lab06"]
	path = lab06
	url = git@github.com:Chamber6821/osisp-lab06.git
[submodule "lab07"]
	path = lab07
	url = git@github.com:Chamber6821/osisp-lab07.git
[submodule "lab08"]
	path = lab08
	url = git@github.com:Chamber6821/osisp-lab08.git
